.post{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post_header{
    display: flex;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: fit-content;
}

.post_header > img{
    max-width: 150px;
    height: 200px;
}

.post_info{
    margin-left: 0;
    text-align: left;
}

.post_info > p{
    font-size: 20px;
    color: black;
}

.post_info > h2{
    font-size: 20px;
}

.post_info .message-post{
    color: grey;
}

.post_info button{
    margin-left: 50px;
    padding: 5px 10px;
    background-color: #371B58;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}