/* Content CSS */
.content{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
}

.content_header{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 250px;
}

/* Image Section */
.content_image {   
    flex: 0.3;
}

.content_image > img {
    width: 100%;
    height: 250px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Content Info Section */
.content_info {
    flex: 0.5;
    margin-left: 0;
    text-align: left;
}

.content_info .description-content {
    font-size: 1rem;
    color: #371B58
}

.message-content{
    color: grey;
    margin-top: 30px;
}

/* Content Contact */
.content_contact {
    flex: 0.2;
    margin: 20px;
    text-align: center;
}

.content_contact button{
    padding: 15px 15px;
    background-color: white;
    border: 1px solid #371B58;
    border-radius: 7px;
    color: #371B58;
    cursor: pointer;
}