/* container holding the form to reset forgotten password */
.container {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.content {
    margin: auto;
    align-items: center;
}

/* styles for the header title  and message Forgot Password */

.header {
    margin: auto;
}

.header-key_image {
    display: block;
    height: 60px;
    width: 60px;
    margin: auto;
}

.header-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    letter-spacing: 1;
}

.header-message {
    margin-bottom: 30px;
    color: grey;
}

/* styles for the label text  */
.details {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 15px;
    opacity: 0.6;
}


.input-box {
    font-family:inherit;
    font-size: small;
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.reset-button {
    /* remove default styling */
     appearance:none;
     -webkit-appearance:none;

    background-color: #371B58;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    width: 100%;
    height: 35px;
    font-size: small;
}

input[type=text] {
  padding:10px;
  margin:10px 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
