/* container holding the form to reset forgotten password */

.forgot-password_page {
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat';
}

.forgot-password_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

.fgp-form_container {
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    margin: auto;
}

.goto-login_link {
    color: rgb(44, 42, 42);
    font-size: medium;
}

.goto-login_link > span {
    margin-left: 5px;
}