/* styles for the header title  and message - Forgot Password */
.header {
    margin: 0;
    text-align: center;
}
/* image size styling and positioning */
.header-key_image {
    display: block;
    height: 60px;
    width: 60px;
    margin: auto;
}

.header-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    letter-spacing: 1;
}

.header-message {
    margin-bottom: 30px;
    color: black;
    opacity: 0.6;
    text-align: center;
    word-wrap: break-word;
}