.avatar-img{
    transform: scale(1.5);
    margin-top: 0;
    margin-left: 15px;
}

.recommend{
    background-color: white;
    /* padding: 15px; */
    margin-bottom: 10px;
    border-radius: 10px;
}




.recommend_header{
    border: 1px solid lightgray;
    /* border-radius: 30px; */
    /* display: flex; */
    padding: 10px;
    color: #371B58;
    padding-left: 15px;
    font-size: 12px;
}


.recommend_header img{
    max-width: 100%;
    max-height: 25%;
}

.recommend_header h2{
    text-align: center;
    margin: 10px;
}

.recommend:hover{
    animation: zoom-in-zoom-out 1s ease;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0.75, 0.75);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(0.75, 0.75);
    }
  }